.app {
  padding: 20px;
}
/* --------------------------
  BUTTON
----------------------------*/
.primary-btn {
  padding: 5px 15px;
  background: #0366d6;
  border: 1px solid #0366d6;
  border-radius: 2px; 
  font-size: 0.9rem;
  color: #fff;
}
/* --------------------------
  TODO LIST
----------------------------*/
.todo-list{
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

.todo-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px; 
}

.todo-list > li + li {
  border-top: 1px solid #ddd;
}

/* --------------------------
  TODO 
----------------------------*/

.todo-name {
  margin: 0;
}